.wrapper{
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media (min-width: 768px) {
        gap: 98px;
    }
    
    @media (min-width: 1440px) {
        gap: 120px;
    }
}

.footer{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 32px;
}

.contact{
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;

    padding-bottom: 4px;
}

.contact-item{
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 32px;
    border-bottom: 1px solid;

    @media (min-width: 768px) {
        font-size: 1.25rem;
    }
}

.sticker-wrapper{
    position: absolute;
    pointer-events: none;
    height: fit-content;
    width: fit-content;
    z-index: 1;
    transform: rotate(8deg);
    top: 96%;
    left: 48%;

    @media (min-width: 1440px) {
        top: 64%;
        left: 108%;
    }
}