:root {
  --black: #000000;
  --white: #FFFFFF;
  --blue: #0064FF;
  --yellow: #FFC852;
  --orange: #FF7A41;
  --purple: #A560FF;
  --green: #00C46D;
  --pink: #F3A0D6;
  --red: #FF5252;

  /* default */
  --background: var(--white);
  --foreground: var(--black);
  --accent: var(--orange);
  --error: var(--red);
}

.dark-theme{
  --background: var(--black);
  --foreground: var(--white);
  --accent: var(--yellow);
}

.light-theme{
  --background: var(--white);
  --foreground: var(--black);
  --accent: var(--orange);
}

/* Antique Legacy font */
@font-face {
  font-family: 'Antique-Legacy';
  src: url('/fonts/Antique-Legacy/Antique-Legacy-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Antique-Legacy';
  src: url('/fonts/Antique-Legacy/Antique-Legacy-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Parabole display font */
@font-face {
  font-family: 'Parabole-Display';
  src: url('/fonts/Parabole-Display/parabole-displayregular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--white;);
    --foreground: var(--black;);
    --accent: var(--orange);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Antique-Legacy', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 768px) {
    line-height: 29px;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 31px;
  }  
}

h1 {
  font-family: 'Antique-Legacy', serif;
  font-weight: 400;
  font-size: 64px;
  text-transform: uppercase;
  line-height: 58px;

  @media (min-width: 768px) {
    font-size: 91px;
    line-height: 82px;
  }

  @media (min-width: 1440px) {
    font-size: 120px;
    line-height: 108px;
  }
}

h2{
  color: var(--accent);
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 21px;

  @media (min-width: 1440px) {
    font-size: 26px;
    line-height: 36px;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p:not(:last-child){
  margin-bottom: 36px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
