:root {
  --black: #000000;
  --white: #FFFFFF;
  --blue: #0064FF;
  --yellow: #FFC852;
  --orange: #FF7A41;
  --purple: #A560FF;
  --green: #00C46D;
  --pink: #F3A0D6;

  /* default */
  --background: var(--black);
  --foreground: var(--white);
}

/* Antique Legacy font */
@font-face {
  font-family: 'Antique-Legacy';
  src: url('/fonts/Antique-Legacy/Antique-Legacy-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Antique-Legacy';
  src: url('/fonts/Antique-Legacy/Antique-Legacy-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Parabole display font */
@font-face {
  font-family: 'Parabole-Display';
  src: url('/fonts/Parabole-Display/parabole-displayregular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@media (prefers-color-scheme: light) {
  :root {
    --background: var(--white;);
    --foreground: var(--black;);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Antique-Legacy', serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

h1 {
  font-family: 'Parabole-Display', serif;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
