.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px 23px;
  padding: 32px 16px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(6, 1fr);
    gap: 96px 30px;
    padding: 40px 56px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(12, 1fr);
    gap: 152px 28px;
    padding: 56px 80px;
  }
}

.nav-wrapper {
  grid-column: 1/-1;
}

.hero {
  display: flex;
  justify-content: center;
  grid-column: span 4;

  @media (min-width: 768px) {
    grid-column: 2/6;
  }

  @media (min-width: 1440px) {
    grid-column: 4/10;
  }
}

.introduction {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 16px;
  font-size: 1.625rem;
  line-height: 36px;

  @media (min-width: 1440px) {
    align-self: flex-start;
    max-width: 914px;
  }
}

.sticker-wrapper {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    position: absolute;
    transform: rotate(-8deg);
    top: 48%;
    right: -48%;
  }
}

.introduction h1 .highlight {
  word-break: break-word;
  hyphens: auto;
}

.main {
  display: flex;
  flex-direction: column;
  /* gap: 60px; */
  gap: 36px;
  grid-column: span 4;

  @media (min-width: 768px) {
    grid-column: span 6;
    gap: 80px
  }

  @media (min-width: 1440px) {
    align-items: center;
    grid-column: 1/-1;
    gap: 120px;
  }
}

.m0 {
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 100%;

  @media (min-width: 1440px) {
    width: 65%;
  }
}

.slider {
  display: contents;
  /* grid-column: 1 / -1;

  @media (min-width: 1440px) {
    grid-column: 3/12;
  } */
}

.footer {
  grid-column: span 4;

  @media (min-width: 768px) {
    grid-column: span 6;
  }

  @media (min-width: 1440px) {
    grid-column: 1/9;
  }
}

.footer p {
  margin: 0;
}

.accent {
  font-family: 'Parabole-Display';
  font-weight: normal;
}

.highlight {
  color: var(--accent);
}

.underline {
  text-decoration: underline;
}

